@media screen and (min-width: 992px)
{
    body {
            background-color: #010a01;
            display: flex;
            flex-direction: column;
            font-family: Arial, Helvetica, sans-serif;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0
        }

        section>div {
            color: aliceblue;
            text-shadow: 0 0 40px #0fa;
            height: 200px;
            background: #010a01;
            padding: 1rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 600%;
        }


        section {
            background: #fff;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 8px;
            width: 60%;
        }


        .open {
            animation: flicker 1.5s infinite alternate;
            color: white;
            padding: 3px;
        }

        .red {
            animation: flicker 1.5s infinite alternate;
            padding: 3px;
            color: white;
        }

        .draw {
            animation: flicker 1.5s infinite alternate;
            color: white;
            padding: 3px;
        }

        @keyframes flicker {

            0%,
            18%,
            22%,
            25%,
            53%,
            57%,
            100% {

                text-shadow:
                    0 0 4px #fff,
                    0 0 11px #fff,
                    0 0 19px #fff,
                    0 0 40px #0fa,
                    0 0 80px #0fa,
                    0 0 90px #0fa,
                    0 0 100px #0fa,
                    0 0 150px #0fa;

            }

            20%,
            24%,
            55% {
                text-shadow: none;
            }
        }

        h2 {
            color: aliceblue;
            text-shadow: 0 0 19px #0fa;
            padding: 3px;
        }
}

@media screen and (max-width : 991px) {
body {
        display: flex;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0
    }

    section>div {
        height: 100px;
        background: white;
        padding: 1rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 600%;
    }


    section {
        background: black;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 8px;
        width: 80%;
    }


    .open {
        background: green;
        color: white;
        padding: 3px;
    }

    .red {
        background: red;
        padding: 3px;
        color: white;
    }

    .draw {
        background: grey;
        color: white;
        padding: 3px;
    }

    h2 {
        padding: 3px;
    }
}