@font-face {
    font-family: Yekan;
    src: url(./fonts/Yekan.eot), url(./fonts/Yekan.ttf) format('truetype'),url(./fonts/Yekan.svg) format('svg');
    font-weight: 600;
    font-style: normal;
}



.top-nav {
    overflow: hidden;
    text-align: center;
    margin-top: 2%;
}
.top-nav a {
    text-decoration: none;
    font-family: Yekan;
    float: center;
    color: #0D0A46;
    text-align: center;
    margin: 2%;
    font-size: 1.1vw;
}
.top-nav a:hover {
    color: #7141f1;
}

.socials{
    display: inline-block;
    /* overflow: hidden; */
    display: flex;
    flex-direction: row;
    /* margin-top: -50%; */
    width: 100%;
    height: 20%;
    text-align: center;
}

/* .socials a{
    display: inline-block;
    width: 100%;
} */

a img{
    float: center;
    /* margin: 0% 3%; */
    width: 5%;
}



.bold-nav{
    margin-right: 39%;
    text-align: center;
}

.simple-work{
    font-family: Yekan;
    font-size: 1.4vw;
    display: inline-block;
    color: white;
    padding: 2% 5%;
    text-decoration: none;
    margin-right: 1%;
    border-radius: 1000px;
    background-image: linear-gradient(51deg, #7141f1 50%, #4d6bd8 75%, #3183e2 100%);
    box-shadow: -5px -5px 15px rgb(255 255 255 / 90%), 5px 5px 15px rgb(60 14 189 / 30%);
    transition: 0.2s ease-in-out;
}
.simple-work:hover {
    background-color: #6F40F1;
    background-image: linear-gradient(#3183e2,#3183e2);
    box-shadow: -2px -2px 5px rgba(255, 255, 255, .9), 2px 2px 5px rgba(60, 14, 189, .3);
    transition: 0.2s ;
}


.contact-me{
    background-color: #f7f8fc;
    font-family: Yekan;
    font-size: 1.3vw;
    display: inline-block;
    color: black;
    border-radius: 1000px;
    text-decoration: none;
    padding: 2% 5%;
    box-shadow: -5px -5px 15px rgb(255 255 255 / 90%), 4px 4px 12px rgb(57 65 124 / 20%);
    transition: 0.2s ease-in-out;
}

.contact-me:hover{
    box-shadow: -2px -2px 5px rgba(255, 255, 255, .9), 2px 2px 4px rgba(57, 65, 124, .2);
}
img{
    position: sticky;
    z-index: -1;
}
body{
    overflow-x: hidden;
    background-color: #f6f8fd;
}

ul{
    direction: rtl;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100px;
    height: auto;

}
li{
    padding: 0 20px;
    /* display: block; */
    list-style-type: none;
    /* margin: auto 50px; */
}
h1{
    color:#0D0A46;
    font-size: 5vw;
    font-family: Yekan;
    display: inline-block;
    margin-top: 1%;
    margin-left: 2%;
}

h2{
    color: #0D0A46;
    font-size: 2vw;
    font-family: Yekan;
    display: inline-block;
    margin-top: -10%;
    margin-left: 3.5%;
}


.icon-page{
    position: absolute;
    width: 3%;
    margin-top: -1.5%;
    margin-left: -35%;
}

.up-right{
    float: right;
    height: 35%;
    width: 35%;
    margin-top: -19%;
    margin-right: 8%;
}

.center-right{
    float: right;
    height: 50%;
    width: 50%;
    margin-right: -70%;
    margin-top: 2%;
}

.bottom-right{
    float: right;
    rotate: 15deg;
    width: 45%;
    height: 45%;
    margin-top: 20.5%;
    margin-right: -47%;
}

.bottom-left {
    float: left;
    width: 38%;
    height: 38%;
    margin-top: 25%;
}

.center-left{
    float: left;
    width: 60%;
    height: 60%;
    margin-top: -5%;
    margin-left: -66%;
}

