@font-face {
    font-family: 'Roboto-Black';
    src: url('../Fonts/Roboto/Roboto-Black.woff2') format('woff2'),
        url('../Fonts/Roboto/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-BlackItalic';
    src: url('../Fonts/Roboto/Roboto-BlackItalic.woff2') format('woff2'),
        url('../Fonts/Roboto/Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../Fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
        url('../Fonts/Roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-BoldItalic';
    src: url('../Fonts/Roboto/Roboto-BoldItalic.woff2') format('woff2'),
        url('../Fonts/Roboto/Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url('../Fonts/Roboto/Roboto-Italic.woff2') format('woff2'),
        url('../Fonts/Roboto/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../Fonts/Roboto/Roboto-Light.woff2') format('woff2'),
        url('../Fonts/Roboto/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url('../Fonts/Roboto/Roboto-LightItalic.woff2') format('woff2'),
        url('../Fonts/Roboto/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../Fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
        url('../Fonts/Roboto/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-MediumItalic';
    src: url('../Fonts/Roboto/Roboto-MediumItalic.woff2') format('woff2'),
        url('../Fonts/Roboto/Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../Fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('../Fonts/Roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../Fonts/Roboto/Roboto-Thin.woff2') format('woff2'),
        url('../Fonts/Roboto/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-ThinItalic';
    src: url('../Fonts/Roboto/Roboto-ThinItalic.woff2') format('woff2'),
        url('../Fonts/Roboto/Roboto-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}


body{
    margin: 0;
    padding: 0;
    background-color: #0E0E0F;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

button{
    border: none;
}

button:hover{
    cursor: pointer;
}

.persian-blue-color{
    color: #0067A5;
}
.persian-blue-Backgroundcolor{
    background-color: #0067A5;
}
.persian-blue-div-color{
    background-color: #1B1B1E;
}

.persian-green-color{
    color: #00A693;
}
.persian-green-Backgroundcolor{
    background-color: #00A693;
}
.persian-green-div-color{
    background-color: #1B1E1D;
}

.persian-red-color{
    color: #CC3333;
}
.persian-red-Backgroundcolor{
    background-color: #CC3333;
}
.persian-red-div-color{
    background-color: #1E1B1B;
}

.persian-orange-color{
    color: #D99058;
}
.persian-orange-Backgroundcolor{
    background-color: #D99058;
}
.persian-orange-div-color{
    background-color: #1E1C1B;
}

.main{
    margin-top: 30px;
}
.container{
    width: 1600px;
    margin: 0 auto;
}

.contact-and-me-data{
    width: 33%;
    display: inline-block;
}

.about-myskills-certificates-data{
    display: inline-block;
    width: 67%;
    float: right;
}

.common-styles-div{
    border-radius: 20px;
    color: white;
    
}

.title-div{
    font-family: Roboto-Bold;
    font-size: 28px;
    padding: 30px 20px 30px 50px;
}

.title-div h2{
    margin-bottom: 10px;
}



.image-and-contact-container div{
    display: inline-block;
}



.image-div{
    background: url('../Images/profile.jpg');
    background-position: center;
    background-size: cover;
    margin-top: 15px;
    width: 48%;
    height: 257.438px;
    overflow: hidden;
}


.contact-div{
    width: 48.5%;
    height: 257.438px;
    float: right;
    margin-top: 15px;
}

.contact-div .contact-container{
    /* background-color: red; */
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-family: Roboto-Light;
    margin-top: 19%;
}

.contact-div .contact-container span{
    display: block;
    font-size: 18px;
}

.contact-div .contact-container button{
    display: block;
    margin: 0 auto;
    margin-top: 22px;
    width: 75%;
    padding: 15px 0;
    border-radius: 10px;
    font-size: 20px;
}

.contact-div .contact-container .contact-me-btn{
    background-color: black;
    color: white;
}

.contact-div .contact-container .contact-me-btn:hover{
    background-color: #101010;
}

.contact-div .contact-container .contact-me-btn i{
    color:  #AAFF00;
    font-size: 15px;
    position: relative;
    top: -1px;
}

.contact-div .contact-container .download-cv-btn{
    color: white;
}

.contact-div .contact-container .download-cv-btn:hover{
    background-color: #0481cf;

}
.socials-div{
    text-align: center;
    margin-top: 11px;
}
.socials-div div{
    padding: 20px 0;
    display: inline-block;
    width: 19%;
    margin: 0 10px;
}

.socials-div div:hover{
    cursor: pointer;
}

.socials-div .quera img{
    width: 55px;
    position: relative;
    top: 8px;
}

.socials-div div i{
    font-size: 55px;
}

.resume-div{
    margin-top: 15px;
}

.divs-title{
    font-family: Roboto-Bold;
    padding-left: 30px;
    padding-top: 15px;
    font-size: 34px;
}

.resume-div .resume-data{
    margin-top: 10px;
    padding: 0 30px;
    padding-bottom: 10px;
}

.resume-div .resume-data span{
    font-family: Roboto-Light;
}

.resume-div .resume-data .line{
    display: inline-block;
}

.resume-div .resume-data .value{
    float: right;
}

.resume-div .resume-data div{
    border-radius: 10px;
    padding: 10px;
}
.resume-div .resume-data div:hover{
    background-color: #101010;
}

.resume-div .resume-data .education{
    height: 35px;
}

.my-skills-div{
    width: 33%;
    display: inline-block;
    margin-left: 15px;
}

.my-skills-div .skills{
    margin: 10px 25px;
    min-height: 100px;
}

.skill-tag{
    background-color: #595959;
    display: inline-block;
    padding: 6px 13px;
    border-radius: 20px;
    font-family: Roboto-Light;
    margin: 3px;
    cursor: default;
}

.about-div{
    min-height: 165px;
    float: right;
    width: 64%;
    display: inline-block;
    margin-left: 15px;
}

.about-div p{
    padding: 0 30px;
    text-align: justify;
    font-family: Roboto-Regular;
}
